aiohttp>=3.9
aioredis>=2
asyncpg
discord
grpcio>=1.53.0,<=1.53.1
hypercorn
icalendar
opentelemetry-exporter-otlp-proto-grpc>=0.40
opentelemetry-exporter-otlp-proto-http>=0.40
opentelemetry-instrumentation>=0.40
opentelemetry-instrumentation-aiohttp-client>=0.40
opentelemetry-instrumentation-asgi>=0.40
opentelemetry-instrumentation-asyncpg>=0.40
opentelemetry-instrumentation-system-metrics>=0.40
python-dateutil
python-jose
quart>=0.19
quart-session
redis
SQLAlchemy>=2
urllib3>=1.26,<2.0
uvicorn
