aiohttp
aioredis
asyncpg
discord
hypercorn
python-dateutil
python-jose
quart
quart-session
redis
SQLAlchemy
uvicorn
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation
opentelemetry-instrumentation-asyncpg
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-system-metrics
grpcio>=1.53.0,<=1.53.1
urllib3>=1.26,<2.0
