<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="utf-8" /> -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Structures{% endblock %}</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="structures.castabouts.net" />
    <meta property="og:title" content="Structures: Moon Drill timer and Fuel Expiry information" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://structures.castabouts.net" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>
    {% include "header.html" %}
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>
    {% include "footer.html" %}
    </footer>
</body>

</html>


