<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Structures{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <h1>Structures</h1>
    {% block content %}{% endblock %}
    <div class="copyright">
        <p>© 2022 Jay Blunt. All rights reserved.<br />All EVE related materials © 2014 CCP hf. All rights
            reserved.<br />"EVE", "EVE Online", "CCP", and all related logos and images are trademarks or registered
            trademarks of CCP hf.</p>
    </div>
    <div class="version">
        <a href="https://github.com/jayblunt/esi-sso-quart" target="_blank"><img
                src="/static/GitHub-Mark-Light-32px.png" alt="GitHub" /></a>
    </div>
</body>

</html>