<table class="about">
    <tr>
        <td>
            <a href="https://github.com/jayblunt/esi-sso-quart" target="_blank"><img src="/static/GitHub-Mark-Light-32px.png" alt="GitHub"></a>
        </td>
        <td>
            <h3><a href="/about/">About</a></h3>
        </td>
    </tr>
</table>
<table class="copyright">
    <tr>
        <td>© 2022 Jay Blunt. All rights reserved.</td>
    </tr>
    <tr>
        <td> All EVE related materials © 2014 CCP hf. All rights reserved.</td>
    </tr>
    <tr>
        <td>"EVE", "EVE Online", "CCP", and all related logos and images are trademarks or registered trademarks of CCP hf.</td>
    </tr>
</table>