<nav>
    {% if character_id %}
    <a href="/sso/logout"><img width="128" height="128" class="{{ character_id|login_type }}"
            alt="{{character_id|esi_character_name}}"
            src="https://images.evetech.net/characters/{{character_id}}/portrait?size=128" /></a>
    {% endif %}
    {% if not is_homne_page %}
    <a href="/">Home</a>
    {% else %}
    <a href="#">Home</a>
    {% endif %}
    {% if not is_about_page %}
    <a href="/about/">About</a>
    {% else %}
    <a href="#">About</a>
    {% endif %}
    {% if character_id %}
    <!-- <a href="#news">News</a> -->
    {% if active_timers %}
    <a href="#active_timers">Active Timers</a>
    {% endif %}
    {% if structures_without_fuel %}
    <a href="#structures_without_fuel">Structures Without Fuel</a>
    {% endif %}
    {% if scheduled_extractions or completed_extractions or unscheduled_extractions %}
    <a href="#extractions">Extractions</a>
    {% endif %}
    {% if structure_fuel_expiries %}
    <a href="#fuel_expiries">Fuel Expiries</a>
    <a href="#last_update">Last Update</a>
    {% endif %}
    {% if character_contributor %}
    <a href="/usage/">Recent Usage</a>
    {% endif %}
    <!-- <a href="/sso/logout">Logout</a> -->
    {% endif %}
</nav>