{% extends "base.html" %}
{% block content %}
<div class="box">
    <h3>2022-12-19</h3>
    <p>That was interesting .. looks like I choked on an expired credential. Fixed.</p>
    <p>if you are logged in as a <a href="/sso/login/contributor">contributor</a>, your character icon will have a thick yellow / gold border. If it has a thin / white border .. then you are logged in as a <a href="/sso/login/user">user</a>.</p>
    <p>If information is missing or looks wrong, let me know in game.</p>
</div>
{% if active_timers %}
<div class="box">
    <h3>Active Structure Timers</h3>
    <table>
        <thead>
            <tr>
                <th class="align_left">Corporation</th>
                <th class="align_left">Structure</th>
                <th class="align_left">System</th>
                <th class="align_left">State</th>
                <th>Timer Expiry</th>
            </tr>
        </thead>
        <tbody>
            {% for t in active_timers %}
            <tr>
                <td class="align_left"><a href="https://evewho.com/corporation/{{t.corporation_id}}" target="_blank"> {{ t.corporation.name }} </a></td>
                <td class="align_left">{{ t.name }}</td>
                <td class="align_left"><a href="https://evemaps.dotlan.net/system/{{t.system.name}}" target="_blank">{{ t.system.name }}</a></td>
                <td class="align_left">{{ t.state|structure_state }}</td>
                <td>{{ t.state_timer_end|datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endif %}
{% if scheduled_extractions or completed_extractions %}
<div class="box">
    <h3>Moon Drill Extractions</h3>
    <table>
        <thead>
            <tr>
                <th class="align_left">Corporation</th>
                <th class="align_left">Structure</th>
                <th class="align_left">Moon</th>
                <th>Fuel Expiry</th>
                <th>Chunk Ready</th>
                <th>Belt Decay</th>
            </tr>
        </thead>
        <tbody>
            {% if completed_extractions %}
            {% for e in completed_extractions %}
            <tr class="{{e.timestamp|timestamp_age}}">
                <td class="align_left"><a href="https://evewho.com/corporation/{{e.corporation_id}}" target="_blank"> {{ e.corporation.name }} </a></td>
                <td class="align_left">{{ e.structure.name }}</td>
                <td class="align_left"><a href="/moon/{{ e.moon.moon_id }}">{{ e.moon.name }}</a></td>
                <td>{{ e.structure.fuel_expires|datetime }}</td>
                <td>{{ e.chunk_arrival_time|datetime }}</td>
                <td>{{ e.belt_decay_time|datetime }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% if scheduled_extractions and completed_extractions %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% endif %}
            {% if scheduled_extractions %}
            {% for e in scheduled_extractions %}
            <tr class="{{e.timestamp|timestamp_age}}">
                <td class="align_left"><a href="https://evewho.com/corporation/{{e.corporation_id}}" target="_blank"> {{ e.corporation.name }} </a></td>
                <td class="align_left">{{ e.structure.name }}</td>
                <td class="align_left"><a href="/moon/{{ e.moon.moon_id }}">{{ e.moon.name }}</a></td>
                <td>{{ e.structure.fuel_expires|datetime }}</td>
                <td>{{ e.chunk_arrival_time|datetime }}</td>
                <td></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endif %}
{% if structure_fuel_expiries %}
<div class="box">
    <h3>Structure Fuel Expiries</h3>
    <table>
        <thead>
            <tr>
                <th class="align_left">Corporation</th>
                <th class="align_left">Structure</th>
                <th class="align_left">System</th>
                <th>Fuel Expiry</th>
            </tr>
        </thead>
        <tbody>
            {% for s in structure_fuel_expiries %}
            <tr class="{{s.timestamp|timestamp_age}}">
                <td class="align_left"><a href="https://evewho.com/corporation/{{s.corporation_id}}" target="_blank">{{ s.corporation.name }}</a></td>
                <td class="align_left">{{ s.name }}</td>
                <td class="align_left"><a href="https://evemaps.dotlan.net/system/{{s.system.name}}" target="_blank">{{ s.system.name }}</a></td>
                <td>{{ s.fuel_expires|datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endif %}
{% if last_update %}
<div class="box">
    <h3>Most Recent Structure Update</h3>
    <table>
        <thead>
            <tr> {% if character_contributor %} <th class="align_left">Character</th> {% endif %} <th class="align_left">Corporation</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for lu in last_update %}
            <tr>
                {% if character_contributor %}                    
                <td class="align_left"><a href="{{ lu.character_id|zkillboard_character }}" target="_blank">{{ lu.character_id|character_name }}</a></td>
                {% endif %}
                <td class="align_left"><a href="https://evewho.com/corporation/{{lu.corporation_id}}" target="_blank">{{ lu.corporation_id|corporation_name }}</a></td>
                <td>{{ lu.timestamp|datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                {% if character_contributor %}
                <td></td>
                {% endif %}
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    {% if character_contributor %}
    <p>Note: only contributors see contributor character names. others see contributor corporation names only.</p>
    {% endif %}
</div>
{% endif %}
{% if character_contributor %}
<div class="box">
    <h3>Recent Usage</h3>
    <p>Recent <a href="/usage/">usage information</a> is available.</p>
</div>
{% endif %}
{% endblock %}
