{% extends "base.html" %} {% block content %}
<div class="box">
    <h3>User</h3>
    <a href="/sso/login/user"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png" /></a>
</div>
<div class="box">
    <h3>Contributor</h3>
    <a href="/sso/login/contributor"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png" /></a>
</div>
<div class="box">
    <a href="/about">
        <h3>About</h3>
    </a>
</div> {% endblock %}