{% extends "base.html" %} {% block content %}
<section id="login_contributor">
    <h3>Contributor</h3>
    <p>
        <a href="/sso/login/contributor"><img width="270" height="45"
                src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png"
                class="login_img contributor" /></a>
    </p>
</section>
<section id="login_user">
    <h3>User</h3>
    <p>
        <a href="/sso/login/user"><img width="270" height="45"
                src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png"
                class="login_img user" /></a>
    </p>
</section>
<section>
    <p>
        <a href="/about">
            <h3>About</h3>
        </a>
    </p>
</section>
{% endblock %}