{% extends "base.html" %}
{% block content %}
<section>
    <section>
        <h3>Information</h3>
        <p>Do not trust this yet - it might be wrong!</p>
        <p>ISK Estimates are based on the jita average price of the compressed version of the mined ore as of the end of the reported period.
            If I can't find a price for the compressed version of the mined ore then the price of the uncompressed ore is used.
            Market liquidity is better for compressed ore than uncompressed so .. we should never fail to to find the compressed variant in Jita.
        </p>
        <p>The numbers here are .. probably .. more accurate than yesterday.
            The endpoint for mining observers (the one for a corporation) only gives back a maximum of 30 days of data.
            I was trying to merge multiple historical observerations to provide a summary for a period greater than 30 days and was messing up the combination of the multiple observerations.
            So, in the short-term, I've cut this down to 28 days - ie inside one observation dataset from ESI.
        </p>
    </section>
    {% if is_contributor_character %}
    {% if top_observers and top_observers_isk and observer_names %}
    <section>
        <h3>Structure Rankings: {{ top_period_start|date }} - {{ top_period_end|date }}</h3>
        <p></p>
        <table>
            <thead>
                <tr>
                    <th class="align_left">Structure</th>
                    <th class="align_right">Last Mining Update</th>
                    <th class="align_right">ISK</th>
                </tr>
            </thead>
            <tbody>
                {% for observer_id in top_observers %}
                <tr>
                    <td class="align_left">{{ observer_names[observer_id] }}</td>
                    <td class="align_right">{{ observer_timestamps[observer_id]|datetime }}</td>
                    <td class="align_right">{{ top_observers_isk[observer_id]|commafy }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </section>
    {% endif %}
    {% if top_observers and top_characters %}
    <p></p>
    <p></p>
    {% endif %}
    {% if top_characters and top_characters_isk %}
    <section>
        <h3>Character Rankings: {{ top_period_start|date }} - {{ top_period_end|date }}</h3>
        <p></p>
        <table>
            <thead>
                <tr>
                    <th class="align_left">Character</th>
                    <th class="align_right">ISK</th>
                </tr>
            </thead>
            <tbody>
                {% for character_id in top_characters %}
                <tr>
                    <td class="align_left"><a href="{{ character_id|zkillboard_character }}" target="_blank">{{
                            character_id|esi_character_name }}</a></td>
                    <td class="align_right">{{ top_characters_isk[character_id]|commafy }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </section>
    {% endif %}
    {% else %}
    <p>Once I get this accounting / counting bug sorted out, I'll put this back up. Until then {{ character_id|esi_character_name }} cannot see the data ...</p>
    {% endif %}
</section>
{% endblock %}